

/* General Style */
p {
    width: 65%;
    padding: 5px;
    padding-left: 10px;
}

body {
    background-color: springgreen;
}

.leftboard {
    border-left: 1px solid goldenrod;
    /*border-right: 1px solid gold;*/
}

.list_heading {
    font-family: "courier new";
    font-weight: bold;
    padding-left: 15px;
}

li {
    padding: 2px;
    padding-right: 8px;
    font-size: 20px;
}

section {
    border-left: 2px solid darkorchid;
}

.italia {
    font-style: italic;
}

.big_ups {
    font-size: 20px;
}
/* Header & Footer */

/* Image Style */

/* Flexbox Stuff */

.container {
    display: flex;
    justify-content: space-between;
    width: 65%;
} 

.flxbx {
    flex: 1;
}

.floatleft {
    float: left;
}

.floatright {
    float: right;
}

img {
    width: 200px;
    height: 250px;
    padding: none;
    border: 5px solid black;
    border-radius: 40px;
}

.quote_me {
    font-size: 22px;
}

#little_div {
    margin-left: 0;
    width: 370px; 
}

/* Fancy Magic: */
@media screen and (max-width: 775px) {
    img {
    width: 40%;
    height: 40%;
    padding: none;
    border: 1% solid black;
    border-radius: 30%;
    }

    p {
    max-width: 75%;
    padding: 5%;
    padding-left: 1%;
    }

    .container {
    display: inline;
    justify-content: space-between;
    width: 65%;
    } 

    .floatright {
    float: none;
    }

}